body {
    background-color: white;
  }

.marco {
    background-color: #ffc107;
    border: white 2px solid;
    padding: 20px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 50px;
}

.boton{
    background-color: #bdb39b;
    border-radius: 10px;
}